Button {
    -fx-font-family: 'FontAwesome Regular';
    -fx-font-size: 10;
    -fx-background-color: transparent;
}

.icon-container Label {
    -fx-font-family: 'FontAwesome Regular';
    -fx-padding: 10 0 10 20;
    -fx-font-size: 100px;
}
